.contributor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.contributions {
  color: orangered;
  font-weight: 700;
}
